useDynLib(lessR)

importFrom("car", vif, scatter3d, dataEllipse)
importFrom("leaps", leaps)
importFrom("MBESS", ci.smd)
importFrom("foreign", read.spss)
importFrom("triangle", dtriangle, rtriangle)

# Export all names except those that begin with .
#exportPattern("^[^\\.]")
#
# Export all names
#exportPattern(".")


export (

  ANOVA, av, av.brief,
  BarChart, bc,
  BoxPlot, bx,
  Correlation, cr, cr.brief,
  CountAll, ca,
  corCFA, cfa, corListVars, listvars, corReorder, reord, 
  corReflect, reflect, corProp, prop, corRead, rad.cor, 
  corScree, scree, corEFA, efa,
  Density, den,
  Help, hlp,
  Histogram, hst,
  label,
  LineChart, lc,
  Model, model, model.brief,
  PieChart, pc,
  Plot, plt,
  prob.norm, prob.znorm, qnt.t,
  Read, rad, rad.brief, rad.labels, rad.both, rad2,
  Regression, reg, reg.brief, reg.explain,
  Recode, rec,
  set, showColors,
  simCImean, simCLT, simFlips, simMeans,
  SummaryStats, ss, ss.brief,
  to,
  ttest, tt, tt.brief, smd.t.test,
  ttestPower, ttp,
  values, 
  Write, wrt, wrt.r
)

S3method(bc, default)
S3method(bc, data.frame)
S3method(bx, default)
S3method(bx, data.frame)
S3method(hst, default)
S3method(hst, data.frame)
