
importFrom("ellipse", ellipse)
importFrom("leaps", leaps)
importFrom("openxlsx", read.xlsx, addWorksheet, createStyle, createWorkbook, saveWorkbook, setColWidths, writeDataTable, writeData)
importFrom("robustbase", adjboxStats, mc)
importFrom("colorspace", sequential_hcl, diverge_hcl)
importFrom("knitr", engine_output, "kable")
importFrom("viridisLite", viridis, cividis, magma, inferno, plasma)
#importFrom("triangle", dtriangle, rtriangle)
#importFrom("sas7bdat", read.sas7bdat)
#importFrom("png", readPNG)
#importFrom("wesanderson", wes_palette)
#importFrom("rmarkdown", render, pandoc_available)
#importFrom("MBESS", ci.smd)
#importFrom("randomcoloR", distinctColorPalette)


importFrom("graphics", abline, arrows, axis, axis.Date, barplot, box, boxplot, grconvertX, grconvertY, hist, legend, lines, mtext, pairs, par, pie, plot, plot.default, plot.new, plot.window, points, polygon, rasterImage, rect, rug, segments, stripchart, strwidth, sunflowerplot, symbols, text, title, axTicks, smoothScatter)

importFrom("grDevices", boxplot.stats, col2rgb, colorRampPalette, colors, dev.list, dev.new, dev.off, dev.set, gray, heat.colors, hcl, palette, pdf, rainbow, rgb, terrain.colors, as.graphicsAnnot)

importFrom("stats", binom.test, confint.default, IQR, TukeyHSD, addmargins, anova, aov, as.formula, bw.nrd0, chisq.test, coef, complete.cases, confint, cooks.distance, cor, cor.test, cov, density, dffits, dlnorm, dnorm, dt, dunif, factanal, fitted, frequency, glm, heatmap, interaction.plot, lm, lm.influence, loadings, loess, lowess, median, mahalanobis, na.omit, pf, pnorm, prop.test, power.t.test, predict, promax, pt, qnorm, qt, quantile, rbinom, replications, residuals, rlnorm, rnorm, reshape, rstandard, rstudent, runif, sd, shapiro.test, start, t.test, terms.formula, update, var, varimax, is.ts, time,  weighted.mean, fivenum, as.dist, hclust, cutree, aggregate)

importFrom("utils", head, help, packageVersion, read.csv, read.fwf, read.table, type.convert, write.csv, write.table, browseURL)

importFrom("methods", hasArg)

importFrom("lattice", xyplot, histogram, barchart, panel.grid, panel.xyplot, panel.loess, panel.lmline, panel.densityplot, panel.superpose, 
trellis.par.get, current.panel.limits, panel.text,
panel.barchart, panel.histogram, panel.dotplot, panel.points, panel.polygon,
panel.segments, panel.violin, panel.bwplot, panel.stripplot, panel.number,
panel.lines)

importFrom("latticeExtra", panel.ellipse, panel.xyarea)

#importFrom("shiny", runApp)

#importFrom("colorspace", polarLUV)

S3method(print, out_all)
S3method(print, out)

# Export all names except those that begin with .
#exportPattern("^[^\\.]")
#
# Export all names
#exportPattern(".")


export (

  ANOVA, av, av_brief,
  BarChart, bc,
  BoxPlot, bx,
  Correlation, cr, cr_brief,
  CountAll, ca,
  corCFA, cfa, scales,
  corRead, rd.cor,
  corReorder, reord, 
  corReflect, reflect, corProp, cp, corRead,
  corScree, scree, corEFA, efa,
  Density, dn,
  details, db,
  factors, 
  getColors,
  Help,
  Histogram, hs,
  interact,
  kurtosis,
  label,
  LineChart, lc,
  Logit, lr,
  Merge, mrg,
  Model, model, model_brief,
  Nest,
  PieChart, pc,
  pivot,
  Plot, 
  print.out_all, print.out,
  prob_norm, prob_znorm, prob_tcut,
  Prop_test, prop,
  Read, rd, rd_lbl, Read2,
  Regression, reg, reg_brief, regPlot, 
  recode, rescale,
  set, showColors, showPalettes,
  simCImean, simCLT, simFlips, simMeans,
  ScatterPlot, sp, 
  see, skew,
  Sort,
  Subset,
  SummaryStats, ss, ss_brief,
  style,
  to,
  Transform, trans,
  ttest, tt, tt.brief, tt_brief,
  ttestPower, ttp,
  values, VariableLabels, vl, 
  ViolinPlot, vp,
  Write, wrt, wrt_r, wrt_x,
  xAnd, xNum, xP, xRow, xU, xW,
  . 
)
